.atomic-platform-select {
    margin-right: 20px;
}

.atomic-mode-select {
    margin-right: 20px;
}

.atomic-leaderboard-rank {
    width: 130px !important
}

.atomic-leaderboard-player {
    width: 500px !important
}