@import "@material/select/mixins";
@import "@material/ripple/mixins";
@import "@material/button/mixins";
@import "@material/typography/mixins";

.atomic-stat-tile {
  @include mdc-states-base-color(white);
}

.atomic-season-range-select {
  margin-right: 20px;
}

.atomic-player-left-aligned {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  float: right;

  color: var(--mdc-secondary-theme) !important;
}